/* Basic Page Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Centered Container */
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

/* Button Style */
button {
    padding: 10px 15px;
    border: none;
    background-color: #2c810a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b8ee4;
}
button:hover {
    background-color: red;
}